# Exercício

Titanic:

*    Porcentagem de homens e mulheres ?
*    Porcentagem de homens x idade e mulheres x idade ?
*    Qual a classe que mais tem passageiros ?
*    Porcentagem de homens x idade x classe e mulheres x idade x classe ?
*    Porcentagem de homens x sobreviventes  e mulheres x sobreviventes ?

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("titanic.csv")

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Exercício

#### Porcentagem de homens e mulheres ?

In [ ]:
total_pessoas = df.shape[0]
df['Sex'].value_counts()/total_pessoas

male      0.647587
female    0.352413
Name: Sex, dtype: float64

#### Porcentagem de homens x idade e mulheres x idade ?

In [ ]:
(df[["Sex", "Age"]].value_counts()/total_pessoas).head(10)

Sex     Age
male    25.0    0.020202
        28.0    0.020202
        19.0    0.020202
        21.0    0.019080
female  24.0    0.017957
male    22.0    0.016835
        32.0    0.016835
        36.0    0.016835
        30.0    0.015713
        24.0    0.015713
dtype: float64

In [ ]:
filtro = df['Sex'] == "male"
df_male = df[filtro]
total_male = df_male.shape[0]
(df_male[["Sex", "Age"]].value_counts()/total_male).head(5)

Sex   Age
male  28.0    0.031196
      25.0    0.031196
      19.0    0.031196
      21.0    0.029463
      36.0    0.025997
dtype: float64

In [ ]:
filtro = df['Sex'] == "female"
df_female = df[filtro]
total_female = df_female.shape[0]
(df_female[["Sex", "Age"]].value_counts()/total_female).head(5)

Sex     Age
female  24.0    0.050955
        18.0    0.041401
        22.0    0.038217
        30.0    0.035032
        35.0    0.025478
dtype: float64

#### Qual a classe que mais tem passageiros ?

In [ ]:
df["Pclass"].value_counts()/total_pessoas

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

#### Porcentagem de homens x idade x classe e mulheres x idade x classe ?

In [ ]:
df[["Sex", "Age", "Pclass"]].value_counts()/total_pessoas

Sex     Age    Pclass
male    22.00  3         0.015713
        21.00  3         0.014590
        20.00  3         0.014590
        19.00  3         0.013468
        26.00  3         0.012346
                           ...
female  62.00  1         0.001122
        63.00  1         0.001122
               3         0.001122
male    0.42   3         0.001122
        80.00  1         0.001122
Length: 283, dtype: float64

In [ ]:
filtro = df['Sex'] == "male"
df_male = df[filtro]
total_male = df_male.shape[0]
(df_male[["Sex", "Age", "Pclass"]].value_counts()/total_male).head(10)

Sex   Age   Pclass
male  22.0  3         0.024263
      20.0  3         0.022530
      21.0  3         0.022530
      19.0  3         0.020797
      32.0  3         0.019064
      26.0  3         0.019064
      25.0  3         0.019064
      28.0  3         0.017331
      16.0  3         0.015598
      24.0  3         0.015598
dtype: float64

In [ ]:
filtro = df['Sex'] == "female"
df_female = df[filtro]
total_female = df_female.shape[0]
print(f'O total de mulheres é de {total_female} \n')
df_female[["Sex", "Age", "Pclass"]].value_counts().head(10)/total_female

O total de mulheres é de 314

Sex     Age   Pclass
female  18.0  3         0.025478
        24.0  2         0.022293
        35.0  1         0.019108
        22.0  3         0.019108
        24.0  1         0.015924
        28.0  2         0.015924
        30.0  1         0.015924
        9.0   3         0.012739
        31.0  3         0.012739
        24.0  3         0.012739
dtype: float64

#### Porcentagem de homens x sobreviventes  e mulheres x sobreviventes ?

In [16]:
df[["Sex", "Survived"]].value_counts()

Sex     Survived
male    0           468
female  1           233
male    1           109
female  0            81
dtype: int64

In [ ]:
df[["Sex", "Survived"]].value_counts()/total_pessoas

Sex     Survived
male    0           0.525253
female  1           0.261504
male    1           0.122334
female  0           0.090909
dtype: float64